{% extends 'basic.html' %} {% block title %} Blog {% endblock title %} 
{% block body %}
{% load static %}
<div class="container mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Welcome {{request.user}}</li>
            <div class="btn-group ml-3">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 Add Posts
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">Home</a>
                    <a class="dropdown-item" href="/addpost">Add Posts</a>
                </div>
            </div>
        </ol>
    </nav>
</div>
{% for post in posts reversed %}
<div class="container mt-3">
    <div class="card" style="width: 18rem;">
        <img src="{{post.img.url}}" class="card-img-top" alt="...">
        <div class="card-title">
            <h6 class="text-center">Title:{{post.title}}</h6>
        </div>
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
            <hr>
            <p><b>Posted By</b>:{{post.author}} at {{post.timeStamp}}</p>
        </div>
    </div>
</div>
{% endfor %} {% endblock body %}