{% extends 'basic.html' %} 
{% block title %} Services {% endblock title %}
 {% block body %}
<div class="jumbotron">
  <h1 class="display-4">Services</h1>
  <p class="lead">Django can be (and has been) used to build almost any type of website — from content management systems and wikis, through to social networks and news sites</p>
  <hr class="my-4">
  <p> It can work with any client-side framework, and can deliver content in almost any format (including HTML, RSS feeds, JSON, XML, etc). The site you are currently reading is built with Django!

Internally, while it provides choices for almost any functionality you might want (e.g. several popular databases, templating engines, etc.), it can also be extended to use other components if needed.</p>
  
</div>
{% endblock body %}